
<div class="row">
  <div class="tiles-grid col-md-12"></div>
</div>

<div class="row controls">
  <button class="reset btn btn-small btn-primary">Reset</button>
  <button class="randomize btn btn-small btn-primary">Randomize</button>
</div>

