<%= render partial: 'form',
     locals: {
       ajax_submit: true,
       show_board: true
     }
%>
<p class="instructions">Click on a square to toggle it between white and a random color.</p>
<%= link_to 'Show', @board %> |
<%= link_to 'All Boards', boards_path %>
