<%= render partial: 'form',
     locals: {
       ajax_submit: true,
       show_board: true
     }
%>

<div id="notice-container" class="row">
  <!-- This container takes up space even when the notice is
  not visible, so that we don't move the page contents vertically
  when we show the notice -->

  <p id="notice"><%= notice %></p>
</div>

<div class="row">
  <%= link_to 'All Boards', boards_path %>
  <%= link_to 'New Board', new_board_path %>
</div>