.tile {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  border: 1px solid #CCCCCC;
  transition: background-color 0.3s ease;
}

.application {
  margin-top: 40px;
}

.board {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.index .board {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.edit_board {
  margin-bottom: 0.5rem;
}

#notice-container {
  height: 30px;
}

.error {
  color: #880044;
}

.instructions {
  font-style: italic;
  color: #CCCCCC;
  font-size: smaller;;
}

// Don't show width and height controls on the editor
// They are editable, but it's a bad user experience,
// because the preview doesn't update
.edit_board .width-height-controls {
  display: none;
}

.index .tile {
  width: 15px;
  height: 15px;
}

.index .instructions {
  display: none;
}

footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

footer a {
  text-decoration: none;
}